<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="col-xs-12">
        <h2>NOUVEAU POST</h2>
        <div class="form-group">
          <label for="titre">
            Titre
          </label>
          <input type="text" id="titre" class="form-control" name="titre" ngModel required>
          <label for="contenu">
            Contenu
          </label>
          <input type="text" id="contenu" class="form-control" name="contenu" ngModel required>
        </div> 
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Subscribe</button>
      </div>
    </form>
  </div>
</div>
